.key {
    color: #4E9590;
}

.key-numeral {
    color: #BFBFBF;
}

.children {
    border-left: 1px solid #BFBFBF;
}

ul {
    list-style-type: none;
    margin-block: 0px;
    margin-inline: 0px;
    padding-inline-start: 0px;
}

ul ul {
    padding-inline-start: 20px;    
    margin-top: 5px;
}

li.key-array::after, li.key-array > .key::after {
    color: #F2CAB8;
    font-weight: bold;
}

li.key-array > .key::after {
    content: "[";
}

li.key-array::after {
    content: "]";
}

li.key-object::after, li.key-object > .key::after {
    color: #F2CAB8;
    font-weight: bold;
}

li.key-object > .key::after {
    content: "{";
}

li.key-object::after {
    content: "}";
}

.value:hover {
    background-color: #4E9590;
}
