ul.json-three-viewer, .json-three-viewer ul {
    list-style-type: none;
    margin-block: 0px;
    margin-inline: 0px;
    padding-inline-start: 0px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 28.24px;
}

.json-three-viewer ul {
    padding-inline-start: 14px;    
    margin-top: 0px;
    margin-left: 2px;
}

.json-three-viewer .key {
    color: #4E9590;
}

.json-three-viewer .key-numeral {
    color: #BFBFBF;
}

.json-three-viewer .children {
    border-left: 1px solid #BFBFBF;
}

.json-three-viewer li.value-type-array::after, .json-three-viewer li.value-type-array > .key::after {
    color: #F2CAB8;
    font-weight: bold;
}

.json-three-viewer li.value-type-array > .key::after {
    content: "[";
}

.json-three-viewer li.value-type-array::after {
    content: "]";
}

/*
.json-three-viewer li.value-type-object::after, .json-three-viewer  li.value-type-object > .key::after {
    color: #F2CAB8;
    font-weight: bold;
}

.json-three-viewer li.value-type-object > .key::after {
    content: "{";
}

.json-three-viewer li.value-type-object::after {
    content: "}";
}
*/

.json-three-viewer .value-type-string::before, .json-three-viewer .value-type-string::after {
    content: '"';
}

.space {
    display: inline-block;
    width: 0px;
}